<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h1>Bonjour <%= @user.email %> !</h1>
    <p>Cliquer sur ce lien pour changer votre mot de passe :</p>
    <p><%= link_to "Réinitialiser mon mot de passe", @url + @user.reset_password_token %></p>
    <p><%= @url + @user.reset_password_token %></p>
    <p>Si vous n'êtes pas à l'origine de cette demande, ignorez cet e-mail.</p>
    <p>RoninCode</p>
  </body>
</html>
